.home {
    width: 100%;
    min-height: calc(100vh - 60px);
    height: auto;
    margin-top: 60px;
    padding: 0 10vw;
    display: flex;
    align-items: center;
    justify-content: space-between;
    position: relative;

}

.hero-content {
    width: 50%;

}

.hero-heading {
    font-size: 2.5rem;
    text-transform: capitalize;
    font-weight: 500;

}

.profession {
    width: fit-content;
    display: block;
    margin: 10px 0 20px;
    margin-left: auto;
    text-transform: capitalize;
    position: relative;
    padding: 10px 20px;
    color: #1d1d1d;
    z-index: 2;
}

.profession::before {
    content: '';
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    background: #e3e3e3;
    z-index: -1;
    transform: skewX(10deg);
}

.profession::after {
    content: '';
    position: absolute;
    top: 0;
    left: -100px;
    width: 100px;
    height: 2px;
    background: #e3e3e3;
}

.info {
    line-height: 30px;
    margin-bottom: 50px;
}

.profile-card {
    position: relative;
    cursor: pointer;
    display: block;
}

.image {
    width: 400px;
    height: 400px;
    object-fit: cover;
    border-radius: 20px;

}

@media (max-width: 720px) {
    .image {
        width: 200px;
        height: 200px;
    }
}

.profile-card .social-media {
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    background: rgba(0, 0, 0, 0.7);
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    transition: .5s;
    text-transform: capitalize;
    opacity: 0;
    border-radius: 20px;
}

.profile-card:hover .social-media {
    opacity: 1;
}

.social-media {
    position: relative;
}

.list-items {
    list-style: none;
    display: flex;
    gap: 20px;
    position: absolute;
    bottom: 0;
    left: 50%;
    transform: translateX(-60%);

}

.item {
    font-size: 28px;
    transition: .5s;
}

.item:hover {
    transform: scale(1.1);
}